.container
    .well
        form.form-horizontal(name="createForm")
            fieldset
                legend Add Person by entering details and click Submit.  Please fill complete all options

            .form-group
                label.col-md-2.control-label Name*
                .col-md-6
                    input.form-control(name="name", type="text", placeholder="name", ng-model="name", required)           
            .form-group
                label.col-md-2.control-label Gender
                .col-md-6
                    input(name="optradio", type="radio", placeholder="genderFemale", ng-model="female")
                    | &nbsp Female &nbsp
                    input(name="optradio", type="radio", placeholder="genderMale", ng-model="male")
                    | &nbsp Male
            .form-group
                label.col-md-2.control-label Height (cm)
                .col-md-6
                    input.form-control(name="height", type="number", placeholder="height", ng-model="height")
            .form-group
                label.col-md-2.control-label Initial Weight
                .col-md-6
                    input.form-control(name="initialWeight", type="number", placeholder="initialWeight", ng-model="initialWeight")
            .form-group
                label.col-md-2.control-label Date of Birth
                .col-md-6
                    input.form-control(name="DOB", type="date", placeholder="DOB", ng-model="DOB")
            .form-group
                label.col-md-2.control-label Photo
                .col-md-6
                    input.form-control(name="photo", type="text", placeholder="photo", ng-model="photo")
            .form-group
                .col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="submit()", ng-disabled="createForm.$invalid") Submit
                        | &nbsp;
                        a.btn.btn-default(href="/") Cancel