.container
    .col-md-12(ng-hide="editMode")
        .well
            h3 {{person.name}}
        .well
            .row
                btn.btn-success
                .col-md-2
                    img(src='/images/{{person.photo }}')
                .col-md-4
                    p DOB: {{person.DOB | date }}
                    p AGE: {{age}}
                    p Gender: {{person.gender}}
                    p Height: {{person.height}} (m)
                    p Initial Weight: {{person.initialWeight}} (kg)
            .form-group
                col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="edit()") Edit
                        | &nbsp;
                        button.btn.btn-primary(ng-click="delete()") Delete
                        | &nbsp;

                        a.btn.btn-default(href="/") Home
    .col-md-12(ng-show="editMode")
        form.form-horizontal(name="personEdit")
            fieldset
                legend
                    p Edit {{person.name}}
                    p &nbsp
                .row
                    label.col-md-2.control-label Name
                    .col-md-3
                        input(ng-model="person.name" required)
                .row
                    label.col-md-2.control-label Gender
                    .col-md-3
                        input(ng-model="person.gender" required)
                .row
                    label.col-md-2.control-label DOB
                    .col-md-3
                        input(ng-model="person.DOB" required)
                .row
                    label.col-md-2.control-label Height
                    .col-md-3
                        input(ng-model="person.height")
                .row
                    label.col-md-2.control-label Initial Weight
                    .col-md-3
                        input(ng-model="person.initialWeight")
                .row
                    label.col-md-2.control-label Photo
                    .col-md-3
                        input(ng-model="person.photo" required)
                .form-group
                    col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()",  ng-disabled="createForm.$invalid") Update
                            | &nbsp;
                            button.btn.btn-primary(ng-click="delete()") Delete
                            | &nbsp;
                            a.btn.btn-default(href="/") Home                        