extends ../includes/layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/") Health DB
          h6 Health Metrics
      .navbar-collapse.collapse
        ul.nav.navbar-nav
            li
                a(href="/") Home
            li 
                a(href="/persons") Patients
            li 
                a(href="/fitness") Fitness
        .navbar-right(ng-controller="navBarLoginCtrl")
            div(ng-include="'/partials/account/navbar-login'")
  section.content
    div(ng-view)
  footer.container.text-center
    p &copy; 2017  - Aaron Skudder.