.container
    .col-md-12(ng-hide="editMode")
        .well
            h3 {{fitness.person.name}}
        .well
            .row
                btn.btn-success
                .col-md-1
                    img(src='/images/{{fitness.person.photo }}')
                .col-md-10
                    p week {{fitness.week }} {{fitness.weekEnding }}
                    .row
                        .col-md-10
                            p Sun: {{fitness.exerciseOnDay[0] }} Mon: {{fitness.exerciseOnDay[1]}} Tues: {{fitness.exerciseOnDay[2] }} Wed: {{fitness.exerciseOnDay[3]}} Thurs: {{fitness.exerciseOnDay[4]}} Fri: {{fitness.exerciseOnDay[5] }} Sat: {{fitness.exerciseOnDay[6]}}
                    .row
                        .col-md-5
                            p Description: {{fitness.description}}
            .form-group
                col-md-10.col-md-offset-2
                    .pull-right
                        button.btn.btn-primary(ng-click="edit()") Edit
                        | &nbsp;
                        button.btn.btn-primary(ng-click="delete()") Delete
                        | &nbsp;

                        a.btn.btn-default(href="/") Home
    .col-md-12(ng-show="editMode")
        form.form-horizontal(name="personEdit")
            fieldset
                legend
                    p Edit {{fitness.person.name}}
                    p &nbsp
                .row
                    label.col-md-2.control-label Week
                    .col-md-3
                        input(ng-model="fitness.week" required)
                .row
                    label.col-md-2.control-label Week Ending
                    .col-md-3
                        input(ng-model="fitness.weekEnding" required)
                .row
                    label.col-md-2.control-label exerciseOnDay
                    .col-md-8
                        p Sunday
                            input(ng-model="fitness.exerciseOnDay[0]" type="number")
                        p Monday
                            input(ng-model="fitness.exerciseOnDay[1]" type="number")
                        p Tuesday
                            input(ng-model="fitness.exerciseOnDay[2]" type="number")
                        p Wenesday
                            input(ng-model="fitness.exerciseOnDay[3]" type="number")
                        p Thursday
                            input(ng-model="fitness.exerciseOnDay[4]" type="number")
                        p Friday
                            input(ng-model="fitness.exerciseOnDay[5]" type="number")
                        p Saturday
                            input(ng-model="fitness.exerciseOnDay[6]" type="number")
                .row
                    label.col-md-2.control-label Description
                    .col-md-3
                        input(ng-model="fitness.description")
                .row
                    label.col-md-2.control-label Person
                    .col-md-3
                        //select#propertyType.select.form-control(type="text", ng-model="person.selectedOption", ng-options="person._id as person.name for person in persons" required) 
                .form-group
                    col-md-10.col-md-offset-2
                        .pull-right
                            button.btn.btn-primary(ng-click="update()",  ng-disabled="createForm.$invalid") Update
                            | &nbsp;
                            button.btn.btn-primary(ng-click="delete()") Delete
                            | &nbsp;
                            a.btn.btn-default(href="/") Home                        