.container
    .jumbotron
        h1 Fitness
    .row
        .col-md-12
            .panel.panel-primary
              .panel-heading.text-center Fitness
              .panel-body
                .well
                    a.btn.btn-primary(href="/fitnessAdd") Add Fitness
                    .col-md-12
                        div &nbsp;              
                .well
                   table.table.table-hover.table-striped.table-condensed
                    thead
                      tr
                        th Patient
                        th Exercise
                        th Description
                        th Date
                    tbody
                      tr(ng-repeat="fitnes in fitness | orderBy: 'date'")
                        td {{fitnes.person.name}}
                        td {{fitnes.exercise}}
                        td {{fitnes.description}}
                        td {{fitnes.date | date}}
