.container
    .jumbotron
        h1 Fitness
    .row
        .col-md-12
            .panel.panel-primary
              .panel-heading.text-center Fitness
              .panel-body
                .well
                   table.table.table-hover.table-striped.table-condensed
                    thead
                      tr
                        th week
                        th week Ending
                        th Sunday
                        th Monday
                        th Tuesday
                        th Wednesday
                        th Thursday
                        th Friday
                        th Saturday
                        th Total
                    tbody
                      tr(ng-repeat="fit in fitness | orderBy: 'week'")
                         td
                            a(href="/fitnessDetail/{{fit._id}}") {{fit.week}}
                         td
                            {{fit.weekEnding}}
                         td
                            {{fit.exerciseOnDay[0]}}
                         td
                            {{fit.exerciseOnDay[1]}}
                         td
                            {{fit.exerciseOnDay[2]}}
                         td
                            {{fit.exerciseOnDay[3]}}
                         td
                            {{fit.exerciseOnDay[4]}}
                         td
                            {{fit.exerciseOnDay[5]}}
                         td
                            {{fit.exerciseOnDay[6]}}
                         td
                            {{fit.exerciseOnDay[0]+fit.exerciseOnDay[1]+fit.exerciseOnDay[2]+fit.exerciseOnDay[3]+fit.exerciseOnDay[4]+fit.exerciseOnDay[5]+fit.exerciseOnDay[6]}}
                        
                            
                         