.container
    .well 
        h4 {{metrics.person.name}}
            .row
                .col-md-2
                    img(src='/images/{{metrics.person.photo }}')
                .col-md-3
                    p DOB: {{metrics.person.DOB | date }}
                    p AGE: {{age}}
                .col-md-3
                    p Systolic: {{metrics.sys }}
                    p Diasolic: {{metrics.dia }}
                    p Height: {{metrics.person.height}} (M)
                .col-md-3
                    p Pulse: {{metrics.pulse }}
                    p Date: {{metrics.date | date }}
                    p Weight: {{metrics.person.initialWeight}} (kg)
                    p BMI: {{bmi}}
    .well        
        .row
            .col-md-6
                h3 Blood Pressure
                p(ng-show="bpHigh")
                    img(src='/images/bpHigh.jpg')
                p(ng-show="bpPreHigh")
                        img(src='/images/bpPreHigh.jpg')
                p(ng-show="bpNormal")
                        img(src='/images/bpNormal.jpg')
                p(ng-show="bpLow")
                        img(src='/images/bpLow.jpg')
            .col-md-6        
                h3 Heart Rate
                p(ng-show="HRAthlete")
                    img(src='/images/HRAthlete.png')
                p(ng-show="HRExcellent")
                    img(src='/images/HRExcellent.png')
                p(ng-show="HRGood")
                    img(src='/images/HRGood.png')
                p(ng-show="HRAboveAverage")
                    img(src='/images/HRAboveAverage.png')
                p(ng-show="HRAverage")
                    img(src='/images/HRAverage.png')
                p(ng-show="HRBelowAverage")
                    img(src='/images/HRBelowAverage.png')
                p(ng-show="HRPoor")
                    img(src='/images/HRPoor.png')
                h5 {{ pulseLevelMessage }}
        .well 
          .row
          .checkbox
            .col-md-4
                input(type="checkbox" ng-model="showBP" name="showBP").form-control
                p Blood
                p Pressure Chart
                p(ng-show="showBP")
                    img(src='/images/bloodpressure.jpg')
            .col-md-5
                input(type="checkbox" ng-model="showHR" name="showHR").form-control
                p Heart
                p Rate Chart
                p &nbsp
                p(ng-show="showHR")
                    img(src='/images/normalHeartRate.jpg')
            .col-md-3
                input(type="checkbox" ng-model="showBMI" name="showBMI").form-control
                p BMI
                p Chart
                p &nbsp
                p(ng-show="showBMI")
                    img(src='/images/bmiMales.jpg')
