script(type="text/javascript", src="/vendor/jquery/dist/jquery.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")
script(type="text/javascript", src="/vendor/angular/angular.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.js")
script(type="text/javascript", src="/vendor/moment/moment.js")

script(type="text/javascript", src="/app/app.js")
script(type="text/javascript", src="/app/main/mainCtrl.js")
script(type="text/javascript", src="/app/common/notifier.js")
script(type="text/javascript", src="/app/common/resource.js")

script(type="text/javascript", src="/app/account/auth.js")
script(type="text/javascript", src="/app/account/identity.js")
script(type="text/javascript", src="/app/account/User.js")
script(type="text/javascript", src="/app/account/signupCtrl.js")
script(type="text/javascript", src="/app/account/profileCtrl.js")
script(type="text/javascript", src="/app/admin/userListCtrl.js")
script(type="text/javascript", src="/app/account/navBarLoginCtrl.js")

script(type="text/javascript", src="/app/metrics/metrics.js")
script(type="text/javascript", src="/app/metrics/metricsDetail.js")
script(type="text/javascript", src="/app/metrics/metricsDetailCtrl.js")
script(type="text/javascript", src="/app/metrics/personMetricsCtrl.js")
script(type="text/javascript", src="/app/metrics/cachedMetrics.js")
script(type="text/javascript", src="/app/metrics/metricsEditCtrl.js")
script(type="text/javascript", src="/app/metrics/metricsAddCtrl.js")
script(type="text/javascript", src="/app/metrics/metricsPost.js")
script(type="text/javascript", src="/app/metrics/metricsResource.js")

//script(type="text/javascript", src="/app/persons/addPerson.js")
script(type="text/javascript", src="/app/persons/personAdd.js")
script(type="text/javascript", src="/app/persons/addPersonCtrl.js")
script(type="text/javascript", src="/app/persons/personsCtrl.js")
script(type="text/javascript", src="/app/persons/personDetailsCtrl.js")
script(type="text/javascript", src="/app/persons/persons.js")
script(type="text/javascript", src="/app/persons/personResource.js")
//script(type="text/javascript", src="/app/persons/personEditCtrl.js")
script(type="text/javascript", src="/app/persons/personUpdate.js")
script(type="text/javascript", src="/app/persons/personDelete.js")
