div.patient-follow-button
    button.btn.btn-info.btn-sm(ng-show="followed()" ng-click="unfollowPatient()") UnFollow
    button.btn.btn-info.btn-sm(ng-hide="followed()" ng-click="followPatient()") Follow